<div class="container">
<% if flash[:notice] %>
	  <p id="notice"><%= flash[:notice] %></p>
	<% end %>

  <div class="row">
  <div class="col-xs-3">
    <h2>User info</h2>
    <%= attachment_image_tag @user, :profile_image, :fill, 60, 60, format: 'jpeg', fallback: "no_image.jpg" %>
    <table class="table">
    <tbody>
      <tr></tr>
      <tr>
        <th>name</th>
        <th> <%= @user.name %></th>
      </tr>
      <tr>
        <th>Introduction</th>
        <th><%= @user.introduction %></th>
      </tr>
    </tbody>
    </table>
    <div class="row">
      <% if current_user.id == @user.id%>
        <%= link_to "", edit_user_path(@user), class:"col-xs-12 btn btn-default glyphicon glyphicon-wrench" %>
      <% end %>
    </div>

<h2>New book</h2>
<% if @book.errors.any? %>
  <div id="error_explanation">
    <h2>2 errors prohibited this book from being saved:</h2>
    <ul>
      <% @book.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_for(@book_new) do |f| %>
  <div class="field row">
    <label for="book_title">title</label>
    <%= f.text_field :title, class:"col-xs-12 book_title"%>
  </div>
  <div class="field row">
  <label for="book_opinion">Opinion</label>
  <%= f.text_area :body , class:"col-xs-12 book_title" %>
  </div>
  <div class="actions row">
  <%= f.submit 'Create Book', class:"btn btn-primary col-xs-12" %>
  <% end %>
  </div>
</div>

  <div class="col-xs-9">
  <h2>Book detail</h2>
  <table class="table">
	  <tbody>
      <tr>
        <td>
          <%= attachment_image_tag @user, :profile_image, :fill, 60, 60, format: 'jpeg', fallback: "no_image.jpg" %>
          <%= link_to user_path(@user) do %></br>
          <%= @user.name %>
          <% end %>
        </td>
        <td>
	        <strong>Title:</strong>
	        <%= @book.title %>
	      </td>
	      <td>
	        <strong>Opinion:</strong>
	        <%= @book.body %>
	      </td>
        <td>
        <% if current_user.id == @user.id%>
      <%= link_to "Edit", edit_book_path(@book), class:"btn-sm btn-success"%>
      <%= link_to "Destroy", book_path(@book),class:"btn-sm btn-danger", method: :delete, "data-confirm" => "Are you sure?" %>
      <% end %>
      </td>
    </tr>
  </tbody>
</table>
</div>
</div>
</div>